/work/assignments/02-19-12S18011-12S18022/student_database/nbproject/private/
/work/assignments/02-19-12S18011-12S18022/Student_database/nbproject/private/
/work/assignments/02-19-12S18011-12S18022/Student_database/build/